body {
	font-family: Verdana, Arial !important;
	font-size: 9pt !important;
	line-height: 150% !important;
	margin: 0px !important;
	background-color: white !important;
	margin-top: 0px !important;
}

#relogio_div {
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	text-align: right;
	margin: 0 auto;
	left: 0%;
	position: absolute;
	bottom: 0;
	position: fixed;
	bbackground-color: #000000;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}

#presentes_div {
	font-weight: bold;
	font-size: 11px;
	border: 0px solid #ffffff;
	width: 100px;
	text-align: left;
	margin: 200 auto;
	right: 5%;
	*position: absolute;
	position: fixed;
	color: #ffff00;
}

#contador_div {
	font-weight: bold;
	font-size: 11px;
	border: 0px solid #ffffff;
	width: 100px;
	text-align: left;
	margin: 100 auto;
	right: 5%;
	*position: absolute;
	position: fixed;
	color: #ffff00;
}

#status_div {
	text-align: left;
	margin: 0 auto;
	left: 0%;
	bottom: 0;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	width: 93%;
	margin: 0 auto;
	margin-left: 0px;
	background-color: #000000;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}

#pessoal_div {
	font-weight: bold;
	font-size: 11px;
	width: 10%;
	text-align: left;
	margin: 0 auto;
	left: 2%;
	margin-left: 0px;
	position: fixed;
}

#menu_div {
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	left: 0%;
	margin-left: 0px;
	position: fixed;
	background-color: #000000;
	color: #0066CC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}


a:link,a:visited,a:active {
	border-radius: 4px;
	text-decoration: none;
	color: #0066CC;
	border: solid 0px;
}
a:hover {
	color: #000000;
	font-weight: bolder;
}

a.menu:link,a.menu:visited,a.menu:active {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bolder;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}
a.menu:hover {
	color: #0066CC;
	font-weight: bolder;
}

a.status:link,a.status:visited,a.status:active {
	text-decoration: none;
	color: #0066CC;
	font-weight: bolder;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}
a.status:hover {
	color: #0066CC;
	font-weight: bolder;
}


.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5000;
}

table {
	border: 2px #000000 outset;
	vertical-align: left;
	background-color: #FFFFFF;
	margin: auto;
	border-color: #000000;
	border-radius: 5px;
	box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
}

td{
	color: #000000;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	height: 25px;
	border-collapse: collapse;
}

th {
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	height: 25px;
	border-radius: 3px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

input[type=submit] {
	border-radius: 3px;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

textarea:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}

input[type=password]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}

input[type=text]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}


input,textarea,select,option {
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black
}

input:hover,textarea:hover,select:hover,option:hover {
	border-radius: 3px;
	color: #99CCFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}


input,textarea,select {
	background-color: #FFFFFF;
}

.feedbackPanelERROR {
	color: #FF0000;
	background: #FFFFFF;
}
