body {
	font-family: Verdana, Arial;
	font-size: 9pt;
	line-height: 150%;
	margin: 0px;
	background-color: white;
	margin-top: 0px;
}

div.wicket-modal div.w_top, div.wicket-modal div.w_bottom, div.wicket-modal div.w_topleft, div.wicket-modal div.w_topright, div.wicket-modal div.w_bottomright, div.wicket-modal div.w_bottomleft, div.wicket-modal a.w_close{
	background-image: none  !important;
}

div.wicket-modal div.w_left, div.wicket-modal div.w_right {
		background-image: none  !important;
}

a.w_close:link,a:visited,a:active {
	border-radius: 10px !important;
	text-decoration: none !important;
	color: #333333 !important;
	background: #333333 !important;
	font-weight: bolder !important;
	border: solid 0px #ffffff !important;
}

a.w_close:hover { 
	text-decoration: underline !important;
	color: #666666 !important;
	background: #666666 !important;
	font-weight: bolder !important;
	border: solid 0px #ffffff !important;
}


div.w_caption{
	border-radius: 10px !important;
	background-color: #000000 !important;
	color: white !important;
	font-weight: bold !important;
	font-size: 11px !important;
	padding: 5px !important;
	border: 0px solid #000000 !important;
	height: 12px !important;
	text-align: center !important;
}
span.w_captionText{
	text-align: center !important;
	border: 0px solid #BBB !important;
	position: relative !important;
}

div.w_content{
  	background-color: transparent !important;
	border: 0px solid #BBB !important;
}

div.w_content_2{
  	background-color: transparent !important;
	border: 0px solid #BBB !important;
}

div.w_content_3{
  	background-color: transparent !important;
	border: 0px solid #BBB !important;
}

div.w_blue{
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #FF6666;
	margin: auto;
	border-color: black;
	box-shadow: rgba(0, 0, 0, 0.4) 10px 10px;
	border-radius: 10px;
	*background-color: #333;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#efefef),to(#333));
	*background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#efefef),to(#999999));
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-webkit-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
}


#relogio_div {
	font-weight: bold;
	font-size: 11px;
	*border: 2px solid #ffffff;
	width: 100%;
	text-align: right;
	margin: 0 auto;
	left: 0%;
	position: absolute;
	bottom: 0;
	position: fixed;
	background-color: #009900;
	color: #ffffff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),to(#999999) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-webkit-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
}



div.wicket-mask-dark {
	background-color: white !important;
	opacity: 0.5 !important;
}

#presentes_div {
	font-weight: bold;
	font-size: 11px;
	border: 0px solid #ffffff;
	width: 100px;
	text-align: left;
	margin: 200 auto;
	right: 5%;
	*position: absolute;
	position: fixed;
	color: #ffff00;
}

#contador_div {
	font-weight: bold;
	font-size: 11px;
	border: 0px solid #ffffff;
	width: 100px;
	text-align: left;
	margin: 100 auto;
	right: 5%;
	*position: absolute;
	position: fixed;
	color: #ffff00;
}

#status_div {
	font-weight: bold;
	font-size: 11px;
	*border: 2px solid #ffffff;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	left: 0%;
	position: absolute;
	bottom: 0;
	position: fixed;
	color: #ffffff;
	*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),to(#999999) );
}

#menu_div {
	font-weight: bold;
	font-size: 11px;
	*border: 2px solid #ffffff;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	left: 0%;
	margin-left: 0px;
	position: fixed;
	background-color: #009900;
	color: #ffffff;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),to(#999999) );
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-webkit-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
}

span {
	*color: #000000;
	*background-color: #CCCCCC;
}

a:link,a:visited,a:active {
	border-radius: 10px;
	text-decoration: none;
	color: #000000;
	background: #00C000;
	font-weight: bolder;
	border: solid 1px #ffffff;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),to(#999999) );
}

a:hover { 
	color: #000000;
	background: #FF9900;
	font-weight: bolder;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999),to(#efefef) );
}

a.menu:link,a.menu:visited,a.menu:active {
	border-radius: 10px;
	text-decoration: none;
	color: #000000;
	background: #00CC00;
	font-weight: bolder;
	border: solid 1px #ffffff;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),to(#999999) );
}

a.menu:hover {
	*text-decoration: underline;
	color: #000000;
	background: #FF9900;
	font-weight: bolder;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999),to(#efefef) ); /* para o webkit*/
}

.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5000;
}

table {
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #FF6666;
	margin: auto;
	border-color: black;
	box-shadow: rgba(0, 0, 0, 0.4) 10px 10px;
	border-radius: 10px;
	*background-color: #333;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#efefef),to(#333));
	*background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#efefef),to(#999999));
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-webkit-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	-moz-box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
	box-shadow: 0 10px 30px hsla(0, 0%, 0%, .8);
}

td,tr {
	color: #000000;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	height: 25px;
	border-collapse: collapse;
}

.yui-calendar .calweekdaycell {
	color: #ffffff !important;
}

.yui-calendar .calheader {
	background: #000000 !important;
}

.yui-calendar td.calcell.calcellhover a {
	background-color: #000000 !important;
	color: white !important;
}

.yui-calendar td.calcell a {
	color: #000000 !important;
}

.yui-calendar td.calcell.selected {
	color: red !important;
}

.yui-calcontainer.withtitle {
	border-radius: 10px !important;
	background-image: -moz-linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef),
		to(#999999) ) !important;
}

.yui-skin-sam .yui-calcontainer .title {
	background: #000000 !important;
	border-radius: 10px !important;
}

th {
	border-radius: 10px;
	background-color: #000000;
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	height: 25px;
}

.labelusuario {
	border-radius: 10px;
	font-family: Verdana;
	font-size: 8pt;
	color: #ffffff;
	font-weight: bold;
	border: 0px solid black;
	background-color: #000000;
}

input[type=submit] {
	border-radius: 10px;
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black margin :   auto;
	-webkit-box-align: center;
}

textarea:focus {
	border: 2px solid #CC33CC;
	background-color: #EED2EE;
}
input[type=password]:focus {
	border: 2px solid #CC33CC;
	background-color: #EED2EE;
}
input[type=text]:focus {
	border: 2px solid #CC33CC;
	background-color: #EED2EE;
}


input,textarea,select,option {
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black
}

input:hover,textarea:hover,select:hover,option:hover {
	color: #000000;
	background: #FF9900;
	font-weight: bolder;
	background-color: #EED2EE;
}


input,textarea,select {
	background-color: #EEEEEE;
}

.feedbackPanelERROR {
	color: #FF0000;
	*background: #FFFFFF;
}
